doctype
head
        title Red Bird Chat
        link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
        script(src="/socket.io/socket.io.js")
        script(src="script.js")
        meta(name='viewport', content='width=device-width, initial-scale=1')
        script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
body
    div.container-fluid.text-center
      div.row.page-header
        div.col-sm-12
          h1.text-primary Four Minute Friends
      div.row
        div.col-sm-12
      div.row
        div.col-sm-1
      div.row.jumbotron
        div.col-sm-12
          div.well.well-md(style="height: 18em")
            div.row
              div.col-sm-2
              div.col-sm-8
                .table-responsive
                  table
                    tr
                      th
              div.col-sm-2
            div.row
              div.col-sm-3
              #disappear
                div.col-sm-3
                  input#nameTextField.form-group(type='text', class="form-control",placeholder="what\'s your name?", onkeydown='limitText(this.form-group#nameTextField,this.form-group.countdown,15);', onkeyup='limitText(this.form-group#nameTextField,this.form-group#nameTextField.countdown,15);', maxlength='15')
                div.col-sm-1
                  button#nameBut.btn.btn-primary(onclick='setName()') Set Name
              div.col-sm-5
          div.col-sm-8
            input#chatTextField.form-group(disabled = "true",type='text', class="form-control",value ="--Disabled--Please Enter Name Above",onkeydown='limitText(this.form-group#chatTextField,this.form-group.countdown,180)', 'currentCount(-1)', onkeyup='limitText(this.form-group#chatTextField,this.form-group#chatTextField.countdown,180)', maxlength='180')
            font(size='1')
            | (Maximum characters: 180)
          div.col-sm-1
            button#msgBtn.btn.btn-primary(onclick='sendMessage()', disabled="true") Send
          div.col-sm-3
      div.row
        div.col-sm-12.bottom

    script.
          var msgBoard = document.getElementsByTagName("th");

          function setName() {
          var x = document.getElementById("nameTextField");
          var dis = document.getElementById("disappear");
          var unblock = document.getElementById("chatTextField");
          var unblock2 = document.getElementById("msgBtn");

          unblock.disabled = false;
          unblock2.disabled = false;

          name = x.value; // <--- USE THIS FOR BACKEND

          unblock.value = " "
          unblock.placeholder = 'write your text here...' // NOT WORKING
          x.value = " "
          dis.style.display = "none"
          dis.style.visibility = "hidden"

          }
          function sendMessage() {
          var x = document.getElementById("chatTextField");

          var messageString = x.value // <--- USE THIS FOR BACKEND

            for(i = 0; i < msgBoard.length; ++i)
            {
              if(i != msgBoard.length - 1)
              {
                msgBoard[i].innerHTML = msgBoard[i+1].innerHTML
              }
              else
              {
                msgBoard[i].innerHTML = name + ": " + messageString
              
              }
            }
            x.value = " "
          }
          function limitText(limitField, limitCount, limitNum) {
          if (limitField.value.length > limitNum) {
          limitField.value = limitField.value.substring(0, limitNum);
          } else {
          limitCount.value = limitNum - limitField.value.length;
          }
          }
